/*
        Element selectors: selects every element on the page of matching name.
*/

body {
    background-color: rgb(220, 245, 255);
}
header, main, footer {
    background-color: rgb(190, 225, 250);
}
/*
    Direct Descendent selectors: selects every element on the page of the latter name that is a DIRECT child (anywhere on the footer) of the former name.
*/
/*
https://specificity.keegan.st/ check this site to check the correct specificity!
*/
body>footer p {
 /*   background-color: orange;*/
} 
/* 
    Descendent selectors: selects every eleement on the page of the latter name that is a DIRECT CHILD of teh former name.
*/
footer>p{
    /* background-color: yellow;*/
}
/*
Class Selectors: Are used to select every element on a page with a given attribute, regardless of element type. Classes have higher specificyt than element selectors.
*/



*/

.photo {
    border: 2px solid black;

}
.flex{
    display: flex;
    justify-content: space-around;

    /*
ID Selectors: Are used to select a SINGLE element with the given ID. IDs have higher specificity than class selectors
*/
/*
https://flukeout.github.io/ - bento box game for identifying selectirs!
*/

#turbines {
    border: 3px solid red;
    border-radius: 10px;
    width 50%;
}

#main > p {
    font-size: 40px;
    color: rgb(255,0,0;
    font-weight:bolder;
    text-decoration: underline overline;
    font-style: italic;

}

.contact main {
    background-image: url ("... url.jpg");
    background-size: cover
}

.contact mask {
    background-color: rgb(50,50,0.5);
}

/* Demo Equal-Width Two-Column Layout */
main>section:nth-of-type(1) p {
    width: 48%;
  }
  /* Demo Staggered-Width Two-Column Layout */
  main>section:nth-of-type(2) p:first-child {
    width: 23%;
  }
  main>section:nth-of-type(2) p:last-child {
    width: 73%;
  
  }
  /* Demo Staggered-Width Three-Column Layout */
  main>section:nth-of-type(3) p:first-child {
    width: 25%; /* 1/4 */
  }
  main>section:nth-of-type(3) p:nth-child(2) {
    width: 33%; /* 1/3 */
  }
  main>section:nth-of-type(3) p:last-child {
    width: 35%; /* 1/3 */
  }