/*
        Element selection: selects every element on the page of matching name.
*/

body {
    background-color: salmon;
}
header{
    background-color: red;
}
main{
    background-color: chartreuse;
}
footer{
    background-color: cyan;
}
/*
    Descendent selection: selects every element on the page of the latter name that is a child (anywhere on the footer) of the former name.
*/
/*
https://specificity.keegan.st/ check this site to check the correct specificity!
*/
body>footer p {
    background-color: yellow;
} 
/* 
    Descendent descendent selectors: selects every eleement on teh page of teh latter name that is a DIRECT CHILD of teh former name.
*/
footer>p{
    background-color: orange;
}
/*
Class Selectors: Are used to select every element on a page with a given attribute, regardless of element type. Classes have higher specificyt than element selectors.
*/

/*
ID Selectors: Are used to select a SINGLE element with the given ID. IDs have higher specificity than class selectors
*/
/*
https://flukeout.github.io/ - bento box game for identifying selectirs!
*/